@import "../../global.less";
@import "struct.less";
.struct-flex{
    align-items: baseline;
    flex-direction: column;
}
.struct-text:hover{
    background-color: black;
    cursor:default;
}
.struct-title{
    .animation-bliking
}
